/* This gets rid of the date selected that normally displays on top of the StaticDayPicker */
.empCalendar .css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    display: none !important;
}

.empCalendar .css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root{
    display: none !important;
}

/* This gets rid of the button that normally display on the bottom of the StaticDayPicker */
.empCalendar css-hlj6pa-MuiDialogActions-root {
    display: none !important;
}

/* This changes the background and text color. The !important is to override the MUI component styling */
/* .css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    color: black !important;
    this changes the color of the circle that usually highlights the day you click on
    background-color: transparent !important;
    
} */


/* changes the size of the calendar div */
.empCalendar .css-epd502 {
    width: 60vw !important;
    min-height: 90vh !important;
    /* border: 2px lightcoral dotted; */
    border-radius: 10px;
}

/*  This customized the weekday label */
.empCalendar .css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel {
    width: 8vw !important;
    height: 5vh !important;
    /* outline: 1px black solid; */
    margin-left: 0px !important;
    margin-right: 0px !important;
}



/* .css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
    display: none !important;
} */

/* individual day buttons (circle) */
.empCalendar css-bkrceb-MuiButtonBase-root-MuiPickersDay-root, .css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    width: 8vw !important;
    height: 12vh !important;
    justify-content: right !important;
    align-items: flex-start !important;
    /* padding-top: 10px; */
} 

/* This resized the entire calendar container */
.empCalendar .css-169iwlq-MuiCalendarPicker-root {
    width: 60vw !important;
    height: 100vh !important;
    min-height: 100vh !important;
}

.empCalendar .css-6t5f1e-MuiDayPicker-monthContainer {
    min-height: 80vh !important;
}

.empCalendar .css-sf5t6v-PrivatePickersSlideTransition-root-MuiDayPicker-slideTransition{
    min-height: 100vh !important;
}


/* removes the option to select the year */
.empCalendar .css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon{
    display: none !important;
}


/* this changes the today's date indicator circle */
.empCalendar .css-1u7d6o-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    color: orange !important;
    width: 5vw !important;
    height: 5vw !important;
    background-color: transparent !important;
    /* border: #7BCEC8 1px solid; */

}

.empCalendar .css-1u7d6o-MuiButtonBase-root-MuiPickersDay-root.Mui-selected, .css-argrvh-MuiButtonBase-root-MuiPickersDay-root{
    width: 2vw !important;
    height: 2vw !important;
    margin: 0 0 0 0 !important;
}

.empCalendar .css-1lunv-MuiPaper-root-MuiCard-root {
    height: 90vh !important;
}

.dayBox {
    outline: black 1px;
}

.empCalendar .css-ghi3gg-MuiDayPicker-weekContainer{
    margin: 0 0 0 0 !important;
}