.splash_container{
    background-image: url(https://img.freepik.com/free-vector/dog-walking-concept-illustration_114360-2607.jpg?w=1380&t=st=1667711225~exp=1667711825~hmac=2321ff546b4e890694a0fb81a804c893600f155e68798f49aabdef99572ee4b06);
    background-size: contain;
    background-repeat: no-repeat;
}